@use "variables" as v;
@use "mixins" as m;

.main {
    height: 550px;
    background: url(../assets/img/plant-main.png ) center no-repeat;
    background-size: cover;
}
// d-flex($justify: center, $align: center, $wrap: nowrap, $direction: row, $column-gap: 0, $row-gap: 0)
.main__wrapper {
    @include m.d-flex(center, flex-start, wrap, column, 20px, 20px);
    width: 100%;
    height: 100%;
    background-color: #111b1ba9;


    .main__title {
        font-size: 60px;
        color: v.$white_color;
        width: 600px;
        line-height: 100%;
        margin-left: 200px;
    }

    .main__desc {
        @include m.font("Open Sans", 18px, 300);
        color: v.$white_color;
        width: 635px;
        line-height: 150%;
        margin-left: 200px;
    }

    .main__btn {
        margin: 10px 10px 10px 200px;
        padding: 10px;
        border: none;
        color: v.$light_green_color;
        background: none;
        cursor: pointer;
        @include m.font("Open Sans", 18px, 700);

        &:hover {
            outline: 1px solid v.$light_green_color;
        }

        .arrow {
           width: 45px;
           height: 14px;
        }
    }

    @media (max-width: 992px) {
        .main__title {
            margin-left: 100px;
        }

        .main__desc {
            margin-left: 100px;
        }

        .main__btn {
            margin-left: 100px;
        }
    }

    @media (max-width: 768px) {
        .main__title {
            margin-left: 20px;
            width: 550px;
        }

        .main__desc {
            display: none;
        }

        .main__btn {
            margin-left: 20px;
        }
    }
}